<!DOCTYPE html>
<html>
<%- include("./public/head.ejs")%>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
	<aside>
		<section class="main-aside-avatar">
			<img src="../images/avatar.jpg" alt="">
		</section>
		<ul>
			<li><a href="/edit">撰写文章</a></li>
			<li><a href="/">关于博客</a></li>
			<li><a href="/friends">友情链接</a></li>
			<li><a href="">登出博客</a></li>
		</ul>
	</aside>
	<section class="main-articles articles">
		<section class="main-articles-title">
			<h2> <%= article.articleTitle %> </h2>
			<p>
				<span>作者：<%= article.articleAuthor %></span>
				<span>发布时间：<%= article.articleTime %></span>
				<span>浏览量：<%= article.articleClick %></span>
			</p>
		</section>
		<section class="main-articles-content">
			<p><%= article.articleContent %></p>
		</section>
	</section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>